.listaMetas{
    margin-left: 10%;
    margin-bottom: 50px;
}

.listaMetas h1{
    font-size: 50px;
}

.listaMetas th{
    background-color: black;
    color: white;
    font-size: 30px;
} 

.listaMetas tr{
    background-color: gray;
    color: white;
    font-size: 25px;
}
